.header_nav_list {
  display: flex;
  gap: 24px;
}
.header_nav_list {
  padding: 32px 0 32px;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_btn {
  display: flex;
  gap: 11px;
}
